h2#sorting-param-title {
	padding: 0;
	padding-left: 15px;
	margin: 0;
}

.canvas-container {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 3px 3px 0 3px;
	display: inline-block;
	margin: 1px;
}

input[type=number], input[type=text], button[id=drawButton] {
	width: 75px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px dotted;
	border-radius: 5px;
	-webkit-appearance: none;
	text-align: center;
}

div#params {
	display: none;
	z-index: 1;
	opacity: 1;
	background-color: white;
	padding: 0 5px 5px 0;
	position: absolute;
	padding-left: 20px;
	color: black;
	border-color: black;
	border: solid;
	border-width: 1px;
	padding: 0;
	margin: 0;
}

br.paramsSpacer {
	display: none;
}

div#showHideParams-container {
	display: inline-block;
	z-index: 2;
	opacity: 1;
	position: absolute;
}

label {
	font-weight: bold;
	float: left;
	display: block;
	width: 130px;
}

.form-line {
	padding: 5px;
}

div#canvas-container {
	text-align: center;
	position: relative;
}

div.form-line:last-child {
	text-align: right;
}